* {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Montserrat';
    font-size: 15px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background: #f3f4f5;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #eeeeee;
}

*::-webkit-scrollbar {
    width: 0px;
    background-color: #5c6166;
}

*::-webkit-scrollbar-thumb {
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #696f79;
}

a {
    color: rgb(9, 126, 236);
}

time {
    font-size: 12px;
    font-family: 'Montserrat';
}

.dropdown-toggle::after {
    display: none;
}

input[type=text], input[type=search], input[type=file] {
    line-height: 1.4em;
    border-radius: 4px !important;
}

